@(params: Map[String, Any])

@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Sign up complete") {
    <p style="margin: 0 0 30px; font-size: 19px;">Dear Agent</p>

    <p style="margin: 0 0 30px; font-size: 19px;">You have signed up your client to use software to submit their VAT Returns.</p>

    <div style="border-color: rgb(191, 193, 195);border-style: none none none solid;border-width: 0px 0px 0px 10px;color: rgb(11, 12, 12);margin: 0px 0px 12.6333px 0px;padding: 12.6333px;">
        <p style="margin: 0 0 30px; font-size: 19px;">You must tell your client that you have signed them up for this trial.</p>
    </div>

    <p style="margin: 0 0 30px; font-size: 19px;font-weight: bold;">What happens next</p>
    <ol>
        <li>Choose relevant third party software. If your client will use software, it is important they choose a package that can interact with yours.</li>
        <li>Allow your software to submit VAT Returns to HMRC. You might need to sign in with your Government Gateway details.</li>
        <li>Use software to record your client’s sales and purchases.</li>
        <li>Submit your client’s VAT Returns before their deadlines.</li>
    </ol>

    <p style="margin: 0 0 30px; font-size: 19px;">Your client can view their VAT Return deadlines in their accounting software or business tax account.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">From HMRC Digital</p>

}
